*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;
}

header{
    background-color: lavenderblush;
}

.presentationTxt{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
margin: 0.8rem;
padding: 00.5rem;
}

.nameTxt {
    font-weight: 400;
    font-size: large;
}

.bioTxt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: medium;
    opacity: 0.8;
}

.locationTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    opacity: 0.7;
}

.icon {
    border-radius: 50%;
    display: flex;
}

body{
    background-color: thistle;
}
    .movieCard  {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
 }

 .card {
     cursor: pointer;
     display: flex;
     background-color: white;
     flex-direction: column;
     min-width: 200px;
     max-width: 300px;
     text-align: center;
     min-height: 370px;
     border-radius: 1rem;
     margin: 1.5rem;
     transition: 0.3s\;
 }

     :hover.card  {
     transform: scale(1.1);
     }

     .cardTxt {
         margin: 0.5rem;
}

.genreTxt  {
    font-weight: 400;
    opacity: 0.7;
}

.titleTxt  {
    font-size: large;
}

.descriptionTxt  {
    font-size: smaller;
    opacity: 0.9;
}

.castTxt {
    font-size:x-small;
    font-style: italic;
    opacity: 0.9;
}

footer{
    background-color: lavenderblush ;
}
.lettericon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25px;
    height: 25px;
}

.bottomTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: large;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.userTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: small;
    opacity: 0.7;
}